.title {
	.title-title {
		margin: 0;
		line-height: 0.75;
	}

	.subtitle {
		display: block;
		margin-bottom: 1rem;
		font-family: 'Assistant', sans-serif;
		letter-spacing: 0.03rem;
	}
}

.album-upload-image {
	cursor: pointer;
	font-size: 2rem;

	> * {
		display: block;
		text-align: center;
	}
}
