<ng-container *ngIf="album">
	<div class="cool-container bounceInDown">
		<a class="back" routerLink="/find">
			<i class="fas fa-angle-left"></i> Back
		</a>
		<div class="title">
			<h1 class="title-title">{{ album.name }}</h1>
			<small class="subtitle text-muted">TechNexus</small>
			<button *ngIf="!passcode" (click)="downloadZip()" class="download btn btn-secondary">Download Album</button>
		</div>
	</div>
	<div *ngIf="passcode" class="cool-container bounceInDown">
		<form [formGroup]="passcodeForm" (ngSubmit)="checkPasscode()">
			<div class="form-group">
				<label for="passcodeInput">Passcode</label>
				<input formControlName="passcode" type="password" class="form-control" id="passcodeInput" placeholder="Super Secret" required>
			</div>
			<button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!passcodeForm.valid">
				<i class="fas fa-cloud-upload"></i> Submit
			</button>
		</form>
	</div>
	<div class="container bounceInDown" *ngIf="!passcode">
		<div class="container">
			<div class="card-columns">
				<div class="album-upload-image card p-3" [routerLink]="['/upload', album.shortCode]">
					<i class="fas fa-cloud-upload"></i>
					<div>Upload</div>
				</div>
				<div *ngFor="let key of imageKeys" class="album-image card">
					<img class="card-img-top" [src]="album.images[key]">
					<div class="card-footer">
						<small class="text-muted">Uploaded {{ timeSince(album.created) }}</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>
