<a class="back" routerLink="/">
	<i class="fas fa-angle-left"></i> Back
</a>

<div class="cool-container">
	<h1>Create Album</h1>
	<form [formGroup]="createAlbumForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="albumName">Album Name</label>
			<input type="text" class="form-control" id="albumName" placeholder="Party Photos" formControlName="name">
		</div>

		<div class="form-group form-check">
			<input type="checkbox" class="form-check-input" id="discoverableCheck" formControlName="discoverable">
			<label class="form-check-label" for="discoverableCheck">Discoverable nearby</label>
		</div>
		<button type="submit" class="btn btn-primary" [disabled]="!createAlbumForm.valid">
			<i class="fas fa-plus"></i> Create
		</button>
	</form>
</div>
