<div *ngIf="album" class="cool-container bounceInDown">
	<a class="back" routerLink="/">
		<i class="fas fa-angle-left"></i> Back
	</a>
	<h1 class="title">Upload to {{ album ? album.name : 'Album' }}</h1>
	<form (submit)="upload()">

		<input #pictures type="file" class="pictures form-control-file" name="pictures" [(ngModel)]="files" accept="image/*" multiple>

		<button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="uploading">
			<i class="fas fa-cloud-upload"></i> Upload
		</button>
		<a [routerLink]="['/album', album?.shortCode]" class="btn btn-secondary btn-lg btn-block">
			<i class="fas fa-images"></i> View
		</a>
	</form>
</div>
