/* You can add global styles to this file, and also import other style files */

// Your variable overrides
$body-bg: lighten(#ff7971, 20%);

$theme-colors: (
	'primary': #e84545
);

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";

body {
	padding-bottom: 6rem;
	font-family: 'Assistant', sans-serif;
}

.cool-container {
	max-width: 20rem;
	margin: 0 auto;
}

.back {
	display: block;
	margin-bottom: 1rem;
	padding-top: 2rem;
	color: var(--gray);
	font-size: 1.25rem;

	&:hover {
		color: var(--gray);
		text-decoration: none;
	}
}

.title {
	margin-bottom: 1.25rem;
	font-family: 'Baloo', sans-serif;
}

.btn-primary {
	position: relative;
	top: 0;
	transition: top 100ms ease-out, box-shadow 100ms ease-out;

	border: none;
	box-shadow: 0 6px #af001d;

	// &:hover {
	// 	top: 2px;
	// 	box-shadow: 0 2px #af001d;
	// }

	&:focus {
		box-shadow: none;
	}

	&:active, &:disabled {
		top: 6px;
		box-shadow: none !important;
	}
}

#logo {
	display: block;
	width: 90px;
	//vertical-align: middle;
	margin: auto;
	//padding-top: 3rem;
}

// Stolen from animate.css

@keyframes bounceInDown {
	from,
	60%,
	75%,
	90%,
	to {
	  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
  
	0% {
	  opacity: 0;
	  -webkit-transform: translate3d(0, -3000px, 0);
	  transform: translate3d(0, -3000px, 0);
	}
  
	60% {
	  opacity: 1;
	  -webkit-transform: translate3d(0, 25px, 0);
	  transform: translate3d(0, 25px, 0);
	}
  
	75% {
	  -webkit-transform: translate3d(0, -10px, 0);
	  transform: translate3d(0, -10px, 0);
	}
  
	90% {
	  -webkit-transform: translate3d(0, 5px, 0);
	  transform: translate3d(0, 5px, 0);
	}
  
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  
  .bounceInDown {
	animation: bounceInDown 1s;
  }

