/* Yuh */
.back {
	opacity: 0;
	pointer-events: none;
}

.title {
	text-align: center;
	padding: 2rem 0;
	font-family: 'Baloo', sans-serif;
}


#logo {
	width: 100%;
}

// .badge {
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// }

  