/* Yuh */
.back {
	opacity: 0;
	pointer-events: none;
}

.title {
	text-align: center;
	padding-top: 2rem;
	font-family: 'Baloo', sans-serif;
}

.title,
.albums {
	margin-bottom: 2.5rem;
}

#logo {
	width: 100%;
}
  